/* reset */
$min-width: 320px; 
$max-width: 1440px; 
$max-width-sm: 1200px; 
$base-bg: #fff; 
$base-font-size: 16px; 
$base-line-height: 1.625; 
$base-font-family: 'Proxima Nova', sans-serif;
$default-transition:all 0.3s ease;


/* main variables */
$color-white:#fff;
$color-blue:#07EBFE;
$color-blue-2:#3FBAFE;
$color-dark:#1F2B45;
$color-dark-2:#475678;
$color-blue-dark:#172033;
$color-blue-light:#7685A8;

$color-gradient: linear-gradient(225.17deg, #4AB1FE 5.85%, #07EBFE 89.47%);







